---
layout: 2013_default_fr
---

<p>&nbsp;</p>

<h2>L'association</h2>

<p>Afin de garantir tant une indépendance à toute société, technologie, pratique, méthodologie, qu'une stratégie commune, nous avons créé une association à but non lucratif qui a pour vocation d'organiser l'événement et de gérer le budget.</p>

<p>Afin de maintenir un équilibre entre les principales technologies représentées, l'association est décomposée en binômes, chacun ayant à charge la gestion de son track. Le track Incubateur est lui géré par l'ensemble de l'association.</p>


<p>&nbsp;</p>

<h2>Les membres</h2>


{% for track in site.tracks2013 %}

	<a id="{{ track[0] }}" name="{{ track[0] }}" ></a>
	<h4>{{ track[1] }}</h4>

	<ul>
	{% assign t = track[0] %}
	{% for post in site.categories.members %}
		{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
		{% if year == "2013" and post.track contains t %}
    		<li><a href="{{ post.url }}" >{{ post.title }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>

	<p>&nbsp;</p>

{% endfor %}
<p>&nbsp;</p>
