---
layout: 2013_default_fr
---

<div id="main_container">

<a id="top" name="top" ></a>

<div class="navbar">
	<ul class="nav navbar-nav">
	    <li><a class="active" href="/2013/fr/conference/program.html">Programme</a></li>
	    <li><a href="/2013/fr/conference/sessions.html">Sessions</a></li>
	    <li><a href="/2013/fr/conference/speakers.html">Orateurs</a></li>
	</ul>
</div>

{% assign tracks_count = site.schedule2013_j1 | size %}
{% assign tracks_count_plus_one = 10 %}

<p>&nbsp;</p>

<h1>Programme softshake 2013</h1>

<p>&nbsp;</p>

<p>Légende:</p>
<ul>
	<li><span class="sos13_program_session_en" style="padding:7px">English language</span></li>
</ul>

<table border="1" cellspacing="0" cellpadding="3">

	<tr>
		<th class="sos13_program_date" colspan="{{ tracks_count_plus_one }}">Jeudi 24 octobre</th>
	</tr>
	<tr>
		<td class="sos13_program_hour">8:15<br />8:45</td>
		<td class="sos13_program_keynote" colspan="{{ tracks_count }}">Accueil des participants</td>
	</tr>
	<tr>
		<td class="sos13_program_hour">8:45<br />9:00</td>
		<td class="sos13_program_keynote" colspan="{{ tracks_count }}">Ouverture, mot du président</td>
	</tr>
	<tr>
		<td class="sos13_program_hour">9:00<br />9:30</td>
		<td class="sos13_program_keynote" colspan="{{ tracks_count }}">Keynote</td>
	</tr>
	<tr>
		<th class="sos13_program_track"> </th>
		{% for track_code in site.schedule2013_j1 %}
			{% for track in site.tracks2013 %}
				{% if track[0] == track_code %}
					<th class="sos13_program_track">{{ track[1] }}</th>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</tr>

{% for h in site.hours_j1 %}
	{% assign i = forloop.index0 %}
	<tr>
		<td class="sos13_program_hour">{{ h }}</td>
		{% for track_code in site.schedule2013_j1 %}
			{% assign track_posts = site.categories[track_code] %}
			{% assign posts_count = track_posts | size %}
			{% assign post_index = posts_count | minus:i | minus:1 %}
			{% assign post = track_posts[post_index] %}
			{% if post.language == "en" %}
				<td class="sos13_program_session_en">
			{% else %}
				<td class="sos13_program_session_fr">
			{% endif %}
				{% capture day %}{{post.date | date: "%d"}}{% endcapture %}
				{% if day == "24" %}
					<a href="{{ post.url }}">{{ post.title }}</a>
				{% endif %}
			</td>
		{% endfor %}
	</tr>
{% endfor %}

	<tr>
		<th class="sos13_program_track"> </th>
		{% for track_code in site.schedule2013_j1 %}
			{% for track in site.tracks2013 %}
				{% if track[0] == track_code %}
					<th class="sos13_program_track">{{ track[1] }}</th>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</tr>

	<tr>
		<th colspan="{{ tracks_count_plus_one }}"><p>&nbsp;</p><p>&nbsp;</p>
	</tr>

	<tr>
		<th class="sos13_program_date" colspan="{{ tracks_count_plus_one }}">Vendredi 25 octobre</th>
	</tr>
	<tr>
		<td class="sos13_program_hour">8:30<br />9:00</td>
		<td class="sos13_program_keynote" colspan="{{ tracks_count }}">Accueil des participants</td>
	</tr>
	<tr>
		<td class="sos13_program_hour">9:00<br />9:30</td>
		<td class="sos13_program_keynote" colspan="{{ tracks_count }}">Keynote</td>
	</tr>

	<tr>
		<th class="sos13_program_track"> </th>
		{% for track_code in site.schedule2013_j2 %}
			{% for track in site.tracks2013 %}
				{% if track[0] == track_code %}
					<th class="sos13_program_track">{{ track[1] }}</th>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</tr>

{% for h in site.hours_j2 %}
	{% assign i = forloop.index0 %}

	<tr>
		<td class="sos13_program_hour">{{ h }}</td>
		
		{% for track_code in site.schedule2013_j2 %}
			{% assign track_posts = site.categories[track_code] %}


			{% assign post_found = 0 %}
			{% assign d25count = 0 %}
			{% for post in track_posts reversed %}
					{% capture day %}{{post.date | date: "%d"}}{% endcapture %}
					{% if day == "25" %}
						{% if d25count == i %}
							{% assign post_found = 1 %}
							{% if post.language == "en" %}
								<td class="sos13_program_session_en">
							{% else %}
								<td class="sos13_program_session_fr">
							{% endif %}
								<a href="{{ post.url }}">{{ post.title }}</a>
							</td>
						{% endif %}
						{% assign d25count = d25count | plus:1 %}
					{% endif %}

			{% endfor %}

			{% if post_found == 0 %}
				<td></td>
			{% endif %}

		{% endfor %}
	</tr>

{% endfor %}

	<tr>
		<th class="sos13_program_track"> </th>
		{% for track_code in site.schedule2013_j2 %}
			{% for track in site.tracks2013 %}
				{% if track[0] == track_code %}
					<th class="sos13_program_track">{{ track[1] }}</th>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</tr>
	<tr>
		<td class="sos13_program_hour">16:20<br />16:40</td>
		<td class="sos13_program_keynote" colspan="{{ tracks_count }}">Mot de la fin, tombola</td>
	</tr>

</table>

<p>&nbsp;</p>

<div class="navbar">
	<ul class="nav navbar-nav">
	    <li><a class="active" href="/2013/fr/conference/program.html">Programme</a></li>
	    <li><a href="/2013/fr/conference/sessions.html">Sessions</a></li>
	    <li><a href="/2013/fr/conference/speakers.html">Orateurs</a></li>
	</ul>
</div>

</div>
