<div>
	<h2>Keynotes</h2>
	<p>To be announced...</p>
	{% assign dayTalks = site.2014_program | where: "scheduleDay", include.day | sort: "scheduleOrder" %}
	{% assign talksByOrder = dayTalks | group_by: "scheduleOrder" %}
	{% for talkGroup in talksByOrder | sort: "name" %}
		<h2>Slot {{ talkGroup.name }} ({{ site.schedule2014[forloop.index0] }})</h2>
		<div class="list-group col-md-12 col-sm-12">
		{% for talk in talkGroup.items %}
		<a href="{{ talk.url }}" class="list-group-item">
			<div class="row">
				<div class="pull-left col-md-1">
					<h3><strong>{{ talk.scheduleRoom }}</strong></h3>
				</div>
				<div class="col-md-9">
					<h4 class="list-group-item-heading">{{ talk.sessionTitle }}</h4>
					<p class="list-group-item-text">
						{% if talk.secondSpeakerName %}
							{{ talk.speakerName }}, {{ talk.secondSpeakerName }}
						{% else %}
							{{ talk.speakerName }}
						{% endif %}
					</p>
				</div>
				<div class="pull-right col-md-2">
					{% for tag in talk.sessionTags %}
						<span class="label label-info">{{ tag }}</span>
					{% endfor %}
				</div>
			</div>
		</a>
		{% endfor %}
		</div>
	{% endfor %}
</div>