<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="module-header schedule-header">
          <h4>Programme</h4>
        </div>
        <!-- end module-header --> 
      </div>
      <!-- end span12 -->
      <div class="span12"> 
        <!-- Tabs -->
        <ul id="schedule-tabs" class="nav nav-pills tab-fillspace ">
          <li class="active"><a href="#dayone" data-toggle="tab">22 Octobre</a> </li>
          <li class=""><a href="#daytwo" data-toggle="tab">23 Octobre</a> </li>
        </ul>
        <!-- end tabs --> 
      </div>
      <!-- end span12 -->
      <div class="tab-content">
        <div class="tab-pane wo-tab-pane fade in active" id="dayone"> 
          <!-- DAY ONE -->
          <div class="span3">
            <h2>Premier jour</h2>
			<!-- <p>The order of the sessions are random !</p> -->
            <div class="schedule-download"><a href="#schedule" class="btn btn-large btn-primary"><div class="icon-wrap medium color2"><i class="iconf-lightbulb"></i> </div>
              <p>Sessions pas ordonnées !</p>
              </a> </div>
            <!-- <div class="schedule-download"><a href="#" class="btn"><i class="iconf-acrobat"></i>
              <p>Full Schedule</p>
              </a> </div> -->
          </div>
          <!-- end span4 -->
          <div class="span9"> 
            <!-- TIMELINE -->
            <section class="timeline toggle-shortcode toggles"> 
              <!-- EVENT 1 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-wine"></i> </div>
                </div>
                <div class="time-box">
                  <time>08:00</time>
                </div>
                <div class="timeline-content">
                    <div class="event-content">
                      <div class="toggle-item-title event-title" data-count="1">
                        <h3>Enregistrement</h3>
                      </div>
                      <div class="toggle-item-body" style="display: none;">
                        <p>Bienvenu !!</p>
                      </div>
                    </div>
                </div>
              </article>
              <!-- end EVENT 1 --> 
			  <!-- EVENT Generation -->
			  {% include 2015_day_talks_randoms.html day="1" %}
              <!-- end EVENT Generation --> 
              <!-- ADD AN EVENT HERE --> 
            </section>
          </div>
          <!-- end span9 --> 		  

        </div>
        <div class="tab-pane wo-tab-pane fade" id="daytwo"> 
          <!-- DAY TWO -->
          <div class="span3">
            <h2>Deuxième jour</h2>
			<!-- <p>The order of the sessions are random !</p> -->
            <div class="schedule-download"><a href="#schedule" class="btn btn-large btn-primary"><div class="icon-wrap medium color2"><i class="iconf-lightbulb"></i> </div>
              <p>Sessions pas ordonnées !</p>
              </a> </div>
            <!-- <div class="schedule-download"><a href="#" class="btn"><i class="iconf-acrobat"></i>
              <p>Full Schedule</p>
              </a> </div> -->
          </div>
          <!-- end span3 -->
          <div class="span9"> 
            <!-- TIMELINE -->
            <section class="timeline toggle-shortcode toggles"> 
              <!-- EVENT 1 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-wine"></i> </div>
                </div>
                <div class="time-box">
                  <time>08:00</time>
                </div>
                <div class="timeline-content">
                    <div class="event-content">
                      <div class="toggle-item-title event-title" data-count="1">
                        <h3>Enregistrement</h3>
                      </div>
                      <div class="toggle-item-body" style="display: none;">
                        <p>Bienvenu !!</p>
                      </div>
                    </div>
                </div>
              </article>
              <!-- end EVENT 1 -->
			  <!-- EVENT Generation -->
			  {% include 2015_day_talks_randoms.html day="2" %}
              <!-- end EVENT Generation -->
              <!-- ADD AN EVENT HERE --> 
            </section>
          </div>
          <!-- end span9 --> 
          <!-- --> 
        </div>
      </div>
      <!-- end tabs --> 
      <!-- --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>