	{% assign dayTalks = site.2015_program | where: "scheduleDay", include.day | sort: "scheduleOrder" %}
	{% assign talksByOrder = dayTalks | group_by: "scheduleOrder" %}
	{% for talkGroup in talksByOrder | sort: "name" %}
	
	{% assign talkyOrder = talkGroup.items | sort: "scheduleRoom" %}
	{% for talk in talkyOrder %}
	<article class="event">
    <div class="timeline-icon">
      <div class="timeline-icon-container"><i class="iconf-ok"></i> </div>
    </div>
    <div class="time-box" style="left: -20px">
      <time style="padding-left: 0px">{{ site.schedule2015[talk.scheduleOrder] }}</time>
    </div>

        <div class="timeline-content">
              <div class="event-content">
                <div class="toggle-item-title event-title" data-count="1">
                  <h2>{{ talk.sessionTitle }}</h2>
				  		<span class="label badge-info">room {{ talk.scheduleRoom }}</span>
						{% for tag in talk.sessionTags %}
							<span class="label badge-success">{{ tag }}</span>
						{% endfor %}
			              <h3><span>{% if talk.secondSpeakerName %}
								{{ talk.speakerName }}, {{ talk.secondSpeakerName }}
							{% else %}
								{{ talk.speakerName }}
							{% endif %}</span>
						</h3>
                </div>
        <div class="toggle-item-body" style="display: none;">

		<div class="entry-content">
					  <p>{{ talk.sessionDescription }}</p>
		            </div>
		
		</div>
	</article>
	{% endfor %}
	{% if forloop.index0 == 1 %}
		<article class="event">
	    <div class="timeline-icon">
	      <div class="timeline-icon-container"><i class="iconf-coffee"></i> </div>
	    </div>
	    <div class="time-box">
	      <time>12:15</time>
	    </div>

	        <div class="timeline-content">
	              <div class="event-content">
	                <div class="toggle-item-title event-title" data-count="1">
	                  <h3>Lunch <span>and networking</span></h3>
	                </div>
	        <div class="toggle-item-body" style="display: none;">
			<div class="entry-content">
						  <p>Enjoy the delicious Lunch provided by the HEPIA</p>
			            </div>
			</div>
		</article>	
	{% endif %}
	{% endfor %}
