<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="module-header schedule-header">
          <h4>Schedule</h4>
        </div>
        <!-- end module-header --> 
      </div>
      <!-- end span12 -->
      <div class="span12"> 
        <!-- Tabs -->
        <ul id="schedule-tabs" class="nav nav-pills tab-fillspace ">
          <li class="active"><a href="#dayone" data-toggle="tab">October 22<sup>rd</sup></a> </li>
          <li class=""><a href="#daytwo" data-toggle="tab">October 23<sup>th</sup></a> </li>
        </ul>
        <!-- end tabs --> 
      </div>
      <!-- end span12 -->
      <div class="tab-content">
        <div class="tab-pane wo-tab-pane fade in active" id="dayone"> 
          <!-- DAY ONE -->
          <div class="span3">
            <h2>First Day</h2>
			<!-- <p>The order of the sessions are random !</p> -->
            <div class="schedule-download"><a href="#schedule" class="btn btn-large btn-primary"><div class="icon-wrap medium color2"><i class="iconf-lightbulb"></i> </div>
              <p>Random sessions order !</p>
              </a> </div>
            <!-- <div class="schedule-download"><a href="#" class="btn"><i class="iconf-acrobat"></i>
              <p>Full Schedule</p>
              </a> </div> -->
          </div>
          <!-- end span4 -->
          <div class="span9"> 
            <!-- TIMELINE -->
            <section class="timeline toggle-shortcode toggles"> 
              <!-- EVENT 1 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-wine"></i> </div>
                </div>
                <div class="time-box">
                  <time>08:00</time>
                </div>
                <div class="timeline-content">
                    <div class="event-content">
                      <div class="toggle-item-title event-title" data-count="1">
                        <h3>Registration</h3>
                      </div>
                      <div class="toggle-item-body" style="display: none;">
                        <p>Welcome !!</p>
                      </div>
                    </div>
                </div>
              </article>
              <!-- end EVENT 1 --> 
              <!-- KEYNOTE EVENT 1 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-microphone"></i> </div>
                </div>
                <div class="time-box">
                  <time>TBD</time>
                </div>
                <div class="timeline-content">
                    <div class="event-content">
                      <div class="toggle-item-title event-title" data-count="1">
                        <h3>Keynote <span>Swiss Pirate Party</span></h3>
                      </div>
                      <div class="toggle-item-body" style="display: none;">
						  <h4>Les enjeux de la sphère privée</h4>
						  <p>
						  Comprendre la transformation de la sphère privée de la révolution
						  industrielle à l'ère du numérique. Guillaume Saouli, Co-Présidentdu
						  Parti Pirate Suisse présentera la sitatuion actuelle et les défis
						  auxquels nous faisons face.
						  <br/>
						  Il évoquera quels sont les mécanismes et les réponses à mettre en place
						  pour préserver une enveloppe décente de sphère privée autour de l'individu.
						  </p>
                      </div>
                    </div>
                </div>
              </article>
              <!-- end KEYNOTE EVENT 1 -->
			  <!-- EVENT Generation -->
			  {% include 2015_day_talks_randoms.html day="1" %}
              <!-- end EVENT Generation --> 
              <!-- ADD AN EVENT HERE --> 
            </section>
          </div>
          <!-- end span9 --> 		  

        </div>
        <div class="tab-pane wo-tab-pane fade" id="daytwo"> 
          <!-- DAY TWO -->
          <div class="span3">
            <h2>Second Day</h2>
			<!-- <p>The order of the sessions are random !</p> -->
            <div class="schedule-download"><a href="#schedule" class="btn btn-large btn-primary"><div class="icon-wrap medium color2"><i class="iconf-lightbulb"></i> </div>
              <p>Random sessions order !</p>
              </a> </div>
            <!-- <div class="schedule-download"><a href="#" class="btn"><i class="iconf-acrobat"></i>
              <p>Full Schedule</p>
              </a> </div> -->
          </div>
          <!-- end span3 -->
          <div class="span9"> 
            <!-- TIMELINE -->
            <section class="timeline toggle-shortcode toggles"> 
              <!-- EVENT 1 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-wine"></i> </div>
                </div>
                <div class="time-box">
                  <time>08:00</time>
                </div>
                <div class="timeline-content">
                    <div class="event-content">
                      <div class="toggle-item-title event-title" data-count="1">
                        <h3>Registration</h3>
                      </div>
                      <div class="toggle-item-body" style="display: none;">
                        <p>Welcome !!</p>
                      </div>
                    </div>
                </div>
              </article>
              <!-- end EVENT 1 -->
              <!-- KEYNOTE EVENT 1 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-microphone"></i> </div>
                </div>
                <div class="time-box">
                  <time>TBD</time>
                </div>
                <div class="timeline-content">
                    <div class="event-content">
                      <div class="toggle-item-title event-title" data-count="1">
                        <h3>Keynote <span>Poppy 3D printed humanoid robot</span></h3>
                      </div>
                      <div class="toggle-item-body" style="display: none;">
						  <h4>Poppy 3D printed open-source & open-hardware humanoid robot - Poppy ? The first robot with a social life !</h4>
                        <p>Poppy (Coquelicot in French) is an open-source platform for the creation, use and sharing of interactive 3D printed robots. The Poppy platform is based on robust, flexible, easy-to-use hardware and software that is 100% open. Thanks to its modularity, Poppy platform allows a wide range of applications and experimentations in the fields of education and research. The plateform can drastically improves the motivation of pupils and students giving them the opportunity to learn through experimentation. That's not all, thanks to this modularity, several new poppy creatures are born! They are called Poppy Creatures : Poppy-Humanoid, Poppy-Torso, and Poppy-Ergo :-)
<br/>
After few monthes, Poppy community represents more than 700 participants (https://forum.poppy-project.org). You can order kits in different shops on the net & Poppy social life (https://www.poppy-project.org/social-life/) is comparable to Leonardo Dicaprio social life !
<br/>
Why such enthusiasm ?
<br/>
Come and listen to the story of a #fantastic and #cute 100% #open #robot !
This talk will focus on the genesis of the Poppy Project
- from a lab project to a world wide community
- from a lab project to an eco system creation.
<br/>
--
Author 1: Stephane Ribas, INRIA DGDT & active member of the Poppy Community Management team, Grenoble France.
Stephane is an Open Source project manager at INRIA, he works for the DGDT division where he helps research team to develop their project and specifically their community. He is an active member of the Poppy project, he has participated to the launch of the poppy project with the fantastic FLOWERS team :-) Since then, he tries as much as he can to help to animate the community as many other contributors of the project :-) he is also writing articles about community management, and is working on many open source initiatives for Inria (fOSSa, Boost Your Code, Natron, AspireRFID, QualiPSo, etc).
<br/>
Author 2: Julien Jehl, Professor at Lycée Juliette Récamier, member of the Poppy Community & Poppy Education active contributor, Lyon France. Julien is a teacher in secondary and high school. He has worked in both areas, education and industry, involved for many years in Internet technology for example. He has been an active contributor to the Poppy-project, and he currently make pedagogical content for pupils and test it in classes. Using poppy in a pedagogical way is a good mean to improve motivation for pupils, students and teachers.</p>
                      </div>
                    </div>
                </div>
              </article>
              <!-- end KEYNOTE EVENT 1 -->
			  <!-- EVENT Generation -->
			  {% include 2015_day_talks_randoms.html day="2" %}
              <!-- end EVENT Generation -->
              <!-- ADD AN EVENT HERE --> 
            </section>
          </div>
          <!-- end span9 --> 
          <!-- --> 
        </div>
      </div>
      <!-- end tabs --> 
      <!-- --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>