<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="module-header schedule-header">
          <h4>Schedule</h4>
        </div>
        <!-- end module-header --> 
      </div>
      <!-- end span12 -->
      <div class="span12"> 
        <!-- Tabs -->
        <ul id="schedule-tabs" class="nav nav-pills tab-fillspace ">
          <li class="active"><a href="#dayone" data-toggle="tab">October 22<sup>rd</sup></a> </li>
          <li class=""><a href="#daytwo" data-toggle="tab">October 23<sup>th</sup></a> </li>
        </ul>
        <!-- end tabs --> 
      </div>
      <!-- end span12 -->
      <div class="tab-content">
        <div class="tab-pane wo-tab-pane fade in active" id="dayone"> 
          <!-- DAY ONE -->
          <div class="span3">
            <h2>First Day</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum ipsum eget nulla molestie, vitae ultricies nulla dapibus. Nulla vel faucibus erat, sed malesuada purus. Quisque varius metus et erat pulvinar luctus. Fusce neque arcu, viverra
              vel dui vitae, commodo vulputate orci. Cras et ipsum placerat, semper tortor a, venenatis enim. Morbi a vehicula nibh, ac bibendum nulla. Praesent tincidunt neque eget lectus mattis ullamcorper.</p>
            <div class="schedule-download"><a href="#" class="btn"><i class="iconf-acrobat"></i>
              <p>Full Schedule</p>
              </a> </div>
          </div>
          <!-- end span4 -->
          <div class="span9"> 
            <!-- TIMELINE -->
            <section class="timeline toggle-shortcode toggles"> 
              <!-- EVENT 1 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-wine"></i> </div>
                </div>
                <div class="time-box">
                  <time>08:00</time>
                </div>
                <div class="timeline-content">
                    <div class="event-content">
                      <div class="toggle-item-title event-title" data-count="1">
                        <h3>Registration</h3>
                      </div>
                      <div class="toggle-item-body" style="display: none;">
                        <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                          Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                          Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                      </div>
                    </div>
                </div>
              </article>
              <!-- end EVENT 1 --> 
			  <!-- EVENT Generation -->
			  {% include 2015_day_talks.html day="1" %}
              <!-- end EVENT Generation --> 
              <!-- ADD AN EVENT HERE --> 
            </section>
          </div>
          <!-- end span9 --> 		  

        </div>
        <div class="tab-pane wo-tab-pane fade" id="daytwo"> 
          <!-- DAY TWO -->
          <div class="span4">
            <h2>Second Day</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum ipsum eget nulla molestie, vitae ultricies nulla dapibus. Nulla vel faucibus erat, sed malesuada purus. Quisque varius metus et erat pulvinar luctus. Fusce neque arcu, viverra
              vel dui vitae, commodo vulputate orci. Cras et ipsum placerat, semper tortor a, venenatis enim. Morbi a vehicula nibh, ac bibendum nulla. Praesent tincidunt neque eget lectus mattis ullamcorper.</p>
            <div class="schedule-download"><a href="#" class="btn"><i class="iconf-acrobat"></i>
              <p>Full Schedule</p>
              </a> </div>
          </div>
          <!-- end span4 -->
          <div class="span8"> 
            <!-- TIMELINE -->
            <section class="timeline toggle-shortcode toggles"> 
              <!-- EVENT 1 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-microphone"></i> </div>
                </div>
                <div class="time-box">
                  <time>08:00</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Typography</h3>
                      <h4>John Doe <span>Design Association</span></h4>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 1 --> 
              <!-- EVENT 2 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-microphone"></i> </div>
                </div>
                <div class="time-box">
                  <time>09:20</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Web Fonts</h3>
                      <h4>Jane Roe <span>Turbo Fonts</span></h4>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 2 --> 
              <!-- EVENT 3 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-microphone"></i> </div>
                </div>
                <div class="time-box">
                  <time>10:20</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>One-Page Websites</h3>
                      <h4>Richard Miles</h4>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 3 --> 
              <!-- EVENT 4 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-coffee"></i> </div>
                </div>
                <div class="time-box">
                  <time>11:30</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Break <span>Sponsored by Sphere Labs</span></h3>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 4 --> 
              <!-- EVENT 5 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-videocam"></i> </div>
                </div>
                <div class="time-box">
                  <time>12:00</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Project Presentation: Facepage App</h3>
                      <h4>John Stiles <span>Facepage</span></h4>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 5 --> 
              <!-- EVENT 6 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-sun"></i> </div>
                </div>
                <div class="time-box">
                  <time>13:00</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Lunch <span>Sponsored by Gravity</span></h3>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 6 --> 
              <!-- EVENT 7 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-microphone"></i> </div>
                </div>
                <div class="time-box">
                  <time>14:10</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Mobile Platforms</h3>
                      <h4>John Doe</h4>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 7 --> 
              <!-- EVENT 8 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-videocam"></i> </div>
                </div>
                <div class="time-box">
                  <time>15:30</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Project Presentation: Handsome Fonts Website</h3>
                      <h4>John Smith <span>GBVFD Design Firm</span></h4>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 8 --> 
              <!-- EVENT 9 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-pencil2"></i> </div>
                </div>
                <div class="time-box">
                  <time>16:40</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Training Sessions: jQuery</h3>
                      <h4>Carla Coe <span>Developers Camp</span></h4>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 10 --> 
              <!-- ADD AN EVENT HERE --> 
            </section>
          </div>
          <!-- end span8 --> 
          <!-- --> 
        </div>
        <div class="tab-pane wo-tab-pane fade" id="daythree"> 
          <!-- DAY THREE -->
          <div class="span4">
            <h2>Third Day</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum ipsum eget nulla molestie, vitae ultricies nulla dapibus. Nulla vel faucibus erat, sed malesuada purus. Quisque varius metus et erat pulvinar luctus. Fusce neque arcu, viverra
              vel dui vitae, commodo vulputate orci. Cras et ipsum placerat, semper tortor a, venenatis enim. Morbi a vehicula nibh, ac bibendum nulla. Praesent tincidunt neque eget lectus mattis ullamcorper.</p>
            <div class="schedule-download"><a href="#" class="btn"><i class="iconf-acrobat"></i>
              <p>Full Schedule</p>
              </a> </div>
          </div>
          <!-- end span4 -->
          <div class="span8"> 
            <!-- TIMELINE -->
            <section class="timeline toggle-shortcode toggles"> 
              <!-- EVENT 1 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-microphone"></i> </div>
                </div>
                <div class="time-box">
                  <time>08:00</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>HTML5</h3>
                      <h4>Paula Poe</h4>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 1 --> 
              <!-- EVENT 2 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-dialogue-box"></i> </div>
                </div>
                <div class="time-box">
                  <time>09:00</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Q&amp;A with Quintin Qoe</h3>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 2 --> 
              <!-- EVENT 3 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-coffee"></i> </div>
                </div>
                <div class="time-box">
                  <time>11:30</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Break <span>Sponsored by Sphere Labs</span></h3>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 3 --> 
              <!-- EVENT 4 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-videocam"></i> </div>
                </div>
                <div class="time-box">
                  <time>12:00</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Project Presentation: Web Audio</h3>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 4 --> 
              <!-- EVENT 5 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-sun"></i> </div>
                </div>
                <div class="time-box">
                  <time>13:30</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Lunch <span>Sponsored by Gravity</span></h3>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 5 --> 
              <!-- EVENT 6 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-microphone"></i> </div>
                </div>
                <div class="time-box">
                  <time>14:40</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Vector Illustrations</h3>
                      <h4>Marta Moe</h4>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 6 --> 
              <!-- EVENT 7 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-microphone"></i> </div>
                </div>
                <div class="time-box">
                  <time>15:30</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>Closing Remarks</h3>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 7 --> 
              <!-- EVENT 8 -->
              <article class="event">
                <div class="timeline-icon">
                  <div class="timeline-icon-container"><i class="iconf-wine"></i> </div>
                </div>
                <div class="time-box">
                  <time>16:50</time>
                </div>
                <div class="timeline-content">
                  <div class="event-content">
                    <div class="toggle-item-title event-title" data-count="1">
                      <h3>After-Party <span>Sponsored by Dévan</span></h3>
                    </div>
                    <div class="toggle-item-body" style="display: none;">
                      <p>Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio. Cum sociis natoquesel usts et magnis dis parturient montes, nascetur ridiculust mus. Donec vel neque ligula, sed cust metus. Vivamus porta velit at metus convallis porta.
                        Etiam eget nunc ante. Nullam sit amet act nisis egestr sapien. Aliquam nec aliquam libero. Vestibulum consectetur sodales adipiscing. Vestibulum mi neque, vehicula id hendrerit tincidunt, aliquam nec elitas quisque pellentesque varius urna.
                        Vivamus lectus quam, condimentum vitae tincidunt vel, congue id odio.</p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- end EVENT 8 --> 
              <!-- ADD AN EVENT HERE --> 
            </section>
          </div>
          <!-- end span8 --> 
          <!-- --> 
        </div>
      </div>
      <!-- end tabs --> 
      <!-- --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>