<div class="hours">
    <div class="hour">
        <p class="startAt">9 h 40</p>
        <p class="endAt">10 h 40</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="../conference/sessions.html?key=agilekesaco">Agile qu'es aco : scrum xp lean</a></p>
        <p class="speakerName">Thierry Cros</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="../conference/sessions.html?key=boilerplatebusters">Java Boilerplate Busters</a></p>
        <p class="speakerName">Hamlet D'Arcy</p>
    </div>
    <div class="talk">
        <p class="sessionName">De zéro à .NET en 55 minutes</p>
        <p class="speakerName">Markus Peter</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="../conference/sessions.html?key=webappforawalk">Taking your web app for a walk</a></p>
        <p class="speakerName">Jens-Christian Fischer</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="../conference/sessions.html?key=socialarchitecture">An Introduction to Social Architecture</a></p>
        <p class="speakerName">Pieter Hintjens</p>
    </div>
</div>

<div class="hours">
    <div class="hour">
        <p class="startAt">11 h 00</p>
        <p class="endAt">12 h 00</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="../conference/sessions.html?key=transitionagile">Transition agile & Accompagnement au changement</a></p>
        <p class="speakerName">Romain Couturier</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="../conference/sessions.html?key=arquillian">Tests d'intégration JavaEE avec Arquillian</a></p>
        <p class="speakerName">Alexis Hassler</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="../conference/sessions.html?key=windowsfuture">Le futur de Windows, présentation et nouveautés pour le développeur</a></p>
        <p class="speakerName">Nicolas Clerc</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="../conference/sessions.html?key=mvcdevelopmentinthebrowser">MVC Development in the Browser</a></p>
        <p class="speakerName">Keith Bingman</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="../conference/sessions.html?key=nodejs">Node.js</a></p>
        <p class="speakerName">Mathilde Lemée & Romain Maton</p>
    </div>
</div>