<div class="hours">
    <div class="hour">
        <p class="startAt">9 h 00</p>
        <p class="endAt">10 h 00</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=katainthehat">The Kata In The Hat</a></p>
        <p class="speakerName">Emmanuel Gaillot & Jonathan Perret</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=modelingwitheclipse">Modeling with Eclipse</a></p>
        <p class="speakerName">Mickaël Istria</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=azure">Les nouveautés de Windows Azure</a></p>
        <p class="speakerName">Benjamin Soulier</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=androidworkshop">Tackling fragmentation on the Android platformk</a></p>
        <p class="speakerName">Andreas Hölzl & Andrei Socaciu</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=slipstream">Déploiement continu sur le cloud avec SlipStream</a></p>
        <p class="speakerName">Marc-Elian Begin</p>
    </div>
</div>

<div class="hours">
    <div class="hour">
        <p class="startAt">10 h 20</p>
        <p class="endAt">11 h 20</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=disciplineetrigueur">Agilité = discipline et rigeur?</a></p>
        <p class="speakerName">Christian Lapointe</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=vaadin">Rich Portlets in Liferay 6 with Vaadin</a></p>
        <p class="speakerName">Sami Ekblad</p>
    </div>
    <div class="talk">
        <p class="sessionName">WebMatrix</p>
        <p class="speakerName">Michael Epprecht</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=androidworkshop">Tackling fragmentation on the Android platformk</a></p>
        <p class="speakerName">Andreas Hölzl & Andrei Socaciu</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=messagingpatterns">Messaging Patterns with RabbitMQ</a></p>
        <p class="speakerName">Alvaro Videla</p>
    </div>
</div>

<div class="hours">
    <div class="hour">
        <p class="startAt">11 h 40</p>
        <p class="endAt">12 h 40</p>
    </div>
    <div class="talk">
        <p class="sessionName">Thierry Cros</p>
        <p class="speakerName">Stewardship et motivation</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=marredesframeworks">Marre des frameworks ! Oui aux bons outils !</a></p>
        <p class="speakerName">David Gageot</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=html5">Introduction to HTML5</a></p>
        <p class="speakerName">Sascha Corti</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=androidworkshop">Tackling fragmentation on the Android platformk</a></p>
        <p class="speakerName">Andreas Hölzl & Andrei Socaciu</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=erlang">Un zeste d’Erlang dans le shaker!</a></p>
        <p class="speakerName">Dominic Williams</p>
    </div>
</div>