<div class="hours">
    <div class="hour">
        <p class="startAt">14 h 00</p>
        <p class="endAt">15 h 00</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=softwarecraftsmanship">Software Craftsmanship: En pratique</a></p>
        <p class="speakerName">Jean-laurent de Morlhon</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="../conference/sessions.html?key=clojure">Clojure Values</a></p>
        <p class="speakerName">Christophe Grand</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=kinect">Prise en main du SDK Kinect pour Windows</a></p>
        <p class="speakerName">Ronnie Saurenmann</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=crossplatformdevelopmentusingunity3d">Cross platform development using Unity3d</a></p>
        <p class="speakerName">Stéphane Intissar</p>
    </div>
    <div class="talk">
        <p class="sessionName">How computational power is changing the UX</p>
        <p class="speakerName">Robert Branchat Freixa</p>
    </div>
</div>

<div class="hours">
    <div class="hour">
        <p class="startAt">15 h 20</p>
        <p class="endAt">16 h 20</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=agiliteettesting">Agilité et Testing: de l'intérêt d'une démarche structurée</a></p>
        <p class="speakerName">Julien Behr</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=codingdojo">GenevaJUG Coding Dojo</a></p>
        <p class="speakerName">Xavier Bourguignon & Maxime Nowak</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=mango">Windows Phone 7 „Mango“ – what’s new for Developers?</a></p>
        <p class="speakerName">Sascha Corti</p>
    </div>
    <div class="talk">
        <p class="sessionName">TBA</p>
        <p class="speakerName"></p>
    </div>
    <div class="talk">
        <p class="sessionName">TBA</p>
        <p class="speakerName"></p>
    </div>
</div>

<div class="hours">
    <div class="hour">
        <p class="startAt">16 h 40</p>
        <p class="endAt">17 h 40</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=hermes">De Hermes RUP à Hermes Scrum</a></p>
        <p class="speakerName">Alexandre Cuva</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=pimpmyunittests">Pimp my unit tests</a></p>
        <p class="speakerName">Xavier Bourguignon & Maxime Nowak</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=agilealmforcloud">Agile application life cycle management for cloud projects</a></p>
        <p class="speakerName">Sandro Caliz & Singaravelan Thangavelu</p>
    </div>
    <div class="talk">
        <p class="sessionName"><a class="sessionName" href="/en/conference/sessions.html?key=flex">Flex Multi-screen</a></p>
        <p class="speakerName">Nicolas Peru & Eric Pascal</p>
    </div>
    <div class="talk">
        <p class="sessionName">TBA</p>
        <p class="speakerName"></p>
    </div>
</div>
