<div id="footer">
    <div class="wrapper">
        <div id="social">
            <h1 id="twitter"><a href="http://twitter.com/softshakeevent" target="_blank">Twitter</a></h1>

            <h1 id="facebook"><a href="http://www.facebook.com/group.php?gid=104850552884643&amp;ref=ts"
                                 target="_blank">Facebook</a></h1>

            <h1 id="linkedin"><a
                    href="http://www.linkedin.com/groups?gid=2903095&amp;trk=anetsrch_name&amp;goback=%2Egdr_1269947395615_1"
                    target="_blank">LinkedIn</a></h1>
        </div>
        <p>Soft-Shake 2011 www.soft-shake.ch</p>
    </div>
</div>
