<div id="footer">
    <div class="wrapper">
        <div id="social">
            <h1 id="twitter"><a href="http://twitter.com/softshakeevent" target="_blank">Twitter</a></h1>

            <h1 id="facebook"><a href="https://www.facebook.com/SoftShakeEvent"
                                 target="_blank">Facebook</a></h1>

            <h1 id="linkedin"><a
                    href="http://www.linkedin.com/groups?gid=2903095&amp;trk=anetsrch_name&amp;goback=%2Egdr_1269947395615_1"
                    target="_blank">LinkedIn</a></h1>
        </div>
        <div id="sponsors">
            <!-- h1 id="appstore"><a href="https://itunes.apple.com/us/app/softshake/id698288797?mt=8" target="_blank"></a></h1 -->
            <h1 id="sonar"><a href="http://www.sonarsource.com/" target="_blank">Sonar</a></h1>
            <h1 id="elasticsearch"><a href="http://www.elasticsearch.org/" target="_blank">Elastic Search</a></h1>
            <h1 id="octo"><a href="http://www.octo.com/fr/filiales/suisse/" target="_blank">Octo</a></h1>
            <h1 id="swissquote"><a href="http://www.swissquote.ch" target="_blank">Swissquote</a></h1>
        </div>
    </div>
    <div id="copyright"><p>© 2013 <a href="http://soft-shake.ch">soft-shake.ch</a>. All Rights Reserved.</p><p>&nbsp;</p></div>
</div>
