---
layout: none
---
<div class="track" >
    <p class="trackName">Agile</p>
    <p class="trackName">Java</p>
    <p class="trackName">Microsoft</p>
    <p class="trackName">Mobility</p>
    <p class="trackName">Incubator</p>
</div>

<div class="fullSession">
    <div class="hour">
        <p class="startAt">8 h 00</p>
        <p>8 h 45</p>
    </div>

    <div class="keynote">Registration</div>
</div>

{% include day2morning.html %}

<div class="fullSession">
    <div class="hour">
        <p class="startAt">12 h 40</p>
        <p>14 h 00</p>
    </div>

    <div class="keynote">Lunch break</div>
</div>

{% include day2afternoon.html %}

<div class="fullSession">
    <div class="hour">
        <p class="startAt">17 h 45</p>
        <p>18 h 00</p>
    </div>

    <div class="keynote">Final words</div>
</div>
