---
layout: none
---
<div class="track" >
    <p class="trackName">Agile</p>
    <p class="trackName">Java</p>
    <p class="trackName">Microsoft</p>
    <p class="trackName">Mobility</p>
    <p class="trackName">Incubator</p>
</div>

<div class="fullSession">
    <div class="hour">
        <p class="startAt">8 h 00</p>
        <p>8 h 45</p>
    </div>

    <div class="keynote">Accueil des participants</div>
</div>

<div class="fullSession">
    <div class="hour">
        <p class="startAt">8 h 45</p>
        <p>9 h 00</p>
    </div>

    <div class="keynote">Mot de l'organisation</div>
</div>

<div class="fullSession">
    <div class="hour">
        <p class="startAt">9 h 00</p>
        <p>9 h 30</p>
    </div>

    <div class="keynote">Keynote</div>
</div>

{% include day1morning.html %}

<div class="fullSession">
    <div class="hour">
        <p class="startAt">12 h 00</p>
        <p>13 h 00</p>
    </div>

    <div class="keynote">Repas</div>
</div>

{% include day1afternoon.html %}
