<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Soft-Shake</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main-2013.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/colorbox.css"/>
    <link href="/apple_touch_icon.png" rel="apple-touch-icon" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /><![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="/js/jquery.dropdownPlain.js" type="text/javascript"></script>
    <script src="/js/softshake.js" type="text/javascript"></script>

	<!-- Twitter Bootstrap -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-v3.0.0-rc1-dist/bootstrap.css"/>
    <script src="/js/bootstrap-v3.0.0-rc1-dist/bootstrap.js"></script>
</head>
<body class="home">
<div id="page">
    <div id="header">
        <h1 id="logo">
            <a href="/2013/en/">Soft-Shake</a>
        </h1>
        <ul class="dropdown">
            <li><a href="/2013/en/association/index.html">Organization</a></li>
            <li>
                <a href="/2013/en/conference" class="new">Conference</a>
                <ul>
                    <li><a href="/2013/en/conference/place.html">Place</a></li>
                    <li><a href="/2013/fr/conference/program.html" class="new">Program</a></li>
                    <li><a href="/2013/fr/conference/sessions.html" class="new">Sessions</a></li>
                    <li><a href="/2013/fr/conference/speakers.html" class="new">Speakers</a></li>
                </ul>
            </li>
            <li><a href="/2013/en/attendee">Attendee</a></li>
            <li><a href="/2013/en/cfp/">&nbsp;Speaker&nbsp;</a></li>
            <li><a href="/2013/en/sponsor/index.html">Sponsor</a></li>
            <li>
                <a href="#">Previous</a>
                <ul>
		        <li><a href="/2010/index-page=home-en.php.html">2010</a></li>
		        <li><a href="/2011/en">2011</a></li>
            </ul>
        </ul>
        <div id="lang">
            <img id="langFr" src="/images/fr.png" alt="FR"/>
            <img id="langEn" src="/images/en.png" alt="EN"/>
        </div>
    </div>
    <div id="content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>