---
layout: 2014_layout
---
        <header id="header">
            <div id="menu-sticky" class="header-menu sticky">
                <div class="container box">
                    <div class="row">
                        <nav role="navigation" class="col-sm-12">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <!--== Logo ==-->
                                <a href="/">
                                    <span class="navbar-brand logo">
                                        <img src="/images/shaker.png" style="margin-top:-10px" alt="Soft-Shake"/>soft-shake'14
                                    </span>
                                </a>

                            </div>
                            <div class="navbar-collapse collapse">

                                <!--== Navigation Menu ==-->
                                <ul class="nav navbar-nav">
                                    <li><a href="/2014/program">Le programme</a></li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="content default-content">
            <div class="container box">
                {{content}}
            </div>
        </div>
        <footer id="footer">
            <div class="footer">
                <div class="container box">

                    <section id="info" class="row">
                        <div class="col-sm-8">

                            <!--== Social Icons ==-->
                            <ul class="social-icons">
                                <li><a href="http://twitter.com/softshakeevent" class="fa fa-twitter"></a></li>
                                <li><a href="https://www.facebook.com/SoftShakeEvent" class="fa fa-facebook"></a></li>
                            </ul>

                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="copyrights">
                                All Rights Reserved. © Soft-Shake 2014
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </footer>
