---
layout: 2014_default_en
---

<section class="row">
	
	<div class="col-sm-12">
		<h1>{{ page.keynoteTitle }}</h1>

		{{ content }}

	</div>

</section>

<section class="row">
	<h2>About speaker</h2>
	<div class="col-sm-12">
		<div class="col-sm-3">
			<div class="speaker">
				<div class="speaker-info">
					<div class="speaker-photo">
						<img src="{{ page.speakerAvatarUrl }}" alt="{{ page.speaker }}">
					</div>                   
					<!--           
					<div class="speaker-contacts">
						<a href="#" class="contact pull-left fa fa-facebook"></a>
						<a href="#" class="contact pull-right fa fa-twitter"></a>
					</div>
					-->
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<h3>{{ page.speaker }}</h3>
			<h5>{{ page.speakerTitle }}</h5>
			<br>
			<p>{{ page.speakerBio }}</p>
		</div>
	</div>

</section>
