---
layout: 2014_default_en
---

<section class="row">
	
	<div class="col-sm-12">
		<h1>{{ page.sessionTitle }}</h1>

		{% assign when = page.scheduleOrder | minus:1 %}
		<h4>Salle {{ page.scheduleRoom }}, {{ site.schedule2014[when] }}</h4>
		<ul class="list-inline">
			{% for tag in page.sessionTags %}
				<li><h4><span class="label label-info">{{ tag }}</span></h4></li>
			{% endfor %}
		</ul>

		{{ content }}

		<ul class="list-unstyled">
			<li><p><strong>Level: </strong>{{ page.sessionLevel }}</p></li>
			<li><p><strong>Topic: </strong>{{ page.sessionTopic }}</p></li>
		</ul>

	</div>

</section>

<section class="row">
	{% if page.secondSpeakerName %}
	<h2>About speakers</h2>
	{% else %}
	<h2>About speaker</h2>
	{% endif %}
	<div class="col-sm-12">
		<div class="col-sm-3">
			<div class="speaker">
				<div class="speaker-info">
					<div class="speaker-photo">
						<img src="{{ page.speakerAvatarUrl }}" alt="{{ page.speakerName }}">
					</div>                   
					<!--           
					<div class="speaker-contacts">
						<a href="#" class="contact pull-left fa fa-facebook"></a>
						<a href="#" class="contact pull-right fa fa-twitter"></a>
					</div>
					-->
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<h3>{{ page.speakerName }}</h3>
			<h5>{{ page.speakerTitle }}, {{ page.speakerOrganization }}</h5>
			<br>
			<p>{{ page.speakerBio }}</p>
		</div>
	</div>

	{% if page.secondSpeakerName %}
		<div class="col-sm-12">
				<div class="col-sm-3">
					<div class="speaker">
						<div class="speaker-info">
							<div class="speaker-photo">
								<img src="{{ page.secondSpeakerAvatarUrl }}" alt="{{ page.secondSpeakerName }}">
							</div>                   
							<!--           
							<div class="speaker-contacts">
								<a href="#" class="contact pull-left fa fa-facebook"></a>
								<a href="#" class="contact pull-right fa fa-twitter"></a>
							</div>
							-->
						</div>
					</div>
				</div>
				<div class="col-sm-9">
					<h3>{{ page.secondSpeakerName }}</h3>
					<h5>{{ page.secondSpeakerTitle }}, {{ page.secondSpeakerOrganization }}</h5>
					<br>
					<p>{{ page.secondSpeakerBio }}</p>
				</div>
		</div>
	{% endif %}
</section>
