<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Soft-Shake</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!--== CSS Files ==-->
        <link href="/css/template/bootstrap.css" rel="stylesheet" media="screen">
        <link href="/css/template/style.css" rel="stylesheet" media="screen">
        <link href="/css/template/animate.min.css" rel="stylesheet" media="screen">
        <link href="/css/template/font-awesome.css" rel="stylesheet" media="screen">
        <link href="/css/template/owl.carousel.css" rel="stylesheet" media="screen">
        <link href="/css/template/flexslider.css" rel="stylesheet" media="screen">
        <link href="/css/template/fancySelect.css" rel="stylesheet" media="screen">
        <link href="/css/template/responsive.css" rel="stylesheet" media="screen">

        <!--== Google Fonts ==-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>

    </head>
    <body>
    
        {{ content }}

        <!--== Javascript Files ==-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-15506673-1', 'soft-shake.ch');
          ga('send', 'pageview');

        </script>

        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="/js/template/jquery-2.1.0.min.js"></script>
        <script src="/js/template/bootstrap.min.js"></script>
        <script src="/js/template/jquery.scrollTo.js"></script>
        <script src="/js/template/jquery.nav.js"></script>
        <script src="/js/template/owl.carousel.min.js"></script>
        <script src="/js/template/jquery.flexslider.js"></script>
        <script src="/js/template/jquery.accordion.js"></script>
        <script src="/js/template/jquery.placeholder.js"></script>
        <script src="/js/template/jquery.fitvids.js"></script>
        <script src="/js/template/gmap3.js"></script>
        <script src="/js/template/fancySelect.js"></script>
        <script src="/js/template/main.js"></script>

        <!-- 
            This script enables navigation & address bar support (history) 
            bettween Day 1 and Day 2 in program: 
            user opens a session, when clicks back in browser it will select the correct day
        -->
        <script type="text/javascript">
            $(function(){
              var hash = window.location.hash;
              hash && $('ul.nav a[href="' + hash + '"]').tab('show');

              $('.nav-pills a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
              });
            });
        </script>
    </body>
</html>