---
layout: 2014_layout
---
        <header id="header">
            <div id="menu" class="header-menu fixed">
                <div class="container box">
                    <div class="row">
                        <nav role="navigation" class="col-sm-12">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <!--== Logo ==-->
                                <a href="/">
	                                <span class="navbar-brand logo">
	                                    <img src="/images/shaker.png" style="margin-top:-10px" alt="Soft-Shake"/>soft-shake'14
	                                </span>
                                </a>

                            </div>
                            <div class="navbar-collapse collapse">

                                <!--== Navigation Menu ==-->
                                <ul class="nav navbar-nav">
                                    <li class="register"><a href="https://www.eventbrite.fr/e/billets-soft-shake-2014-11160554519">S'inscrire</a></li>

                                    <li class="current"><a href="#header">Accueil</a></li>
                                    <li><a href="#sessions">Sessions</a></li>
                                    <li><a href="#speakers">Orateurs</a></li>
                                    <li><a href="#faq">FAQ</a></li>
                                    <li><a href="#partners">Sponsors</a></li>
                                    <li><a href="/2014/en/" class="global-nav">EN</a></li>
                                    <li><a href="/2013/fr/" class="global-nav">'13</a></li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>

            <!--== Site Description ==-->
            <div class="header-cta">
                <div class="container">
                    <div class="row">
                        <div class="blk">
                            <h1>Soft-Shake 2014</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="blk col-sm-12">
                            <div class="col-sm-8">
                                <h2>Les inscriptions sont ouvertes !</h2>
                            </div>
                            <div class="col-sm-4">
                                <input type="submit" value="S'inscrire" class="register" onclick="window.location='https://www.eventbrite.fr/e/billets-soft-shake-2014-11160554519';">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-bg">
                <div id="preloader">
                    <div class="preloader"></div>
                </div>
                <div class="main-slider" id="main-slider">

                    <!--== Main Slider ==-->
                    <ul class="slides">
                        <li><img src="/images/template/demo/bg-slide-01.jpg" alt="Slide Image"/></li>
                        <li><img src="/images/template/demo/bg-slide-02.jpg" alt="Slide Image 2"/></li>
                    </ul>

                </div>
            </div>
        </header>

        <div class="content">
            <div class="container box">
                {{content}}
            </div>
        </div>
        <footer id="footer">
            <div id="map_canvas"></div>
            
            <div class="footer">
                <div class="container box">

                    <section id="info" class="row">
                        <div class="col-sm-8">

                            <!--== Social Icons ==-->
                            <ul class="social-icons">
                                <li><a href="http://twitter.com/softshakeevent" class="fa fa-twitter"></a></li>
                                <li><a href="https://www.facebook.com/SoftShakeEvent" class="fa fa-facebook"></a></li>
                            </ul>

                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="copyrights">
                                Tous droits réservés. © Soft-Shake 2014
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </footer>

