---
layout: 2015_layout
---
		<header class="top-bar" id="topbar">
		  <div class="container">
		    <div class="row">
		      <div class="span12"><a class="logo pull-left" href="#intro" title="Soft-Shake"><span></span></a>
		        <div class="navbar main-nav pull-right">
		          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
		          <nav>
		            <div class="nav-collapse collapse">
		              <ul id="mainnav" class="nav">
						<li><a href="#venue">Lieu</a> </li>
						<li><a href="#sponsors">Sponsors</a> </li>
		                <li><a href="#contact">Contact</a> </li>
						<li id="fat-menu" class="dropdown">
						   <a href="#" id="previousMnu" role="button" class="dropdown-toggle" data-toggle="dropdown">Editions Préceédentes<b class="caret"></b></a>
						   <ul class="dropdown-menu" role="menu" aria-labelledby="previousMnu">
						     <li><a tabindex="-1" href="/2014/fr" class="external">2014</a></li>
						     <li><a tabindex="-1" href="/2013/fr" class="external">2013</a></li>
						     <li><a tabindex="-1" href="/2012/fr" class="external">2012</a></li>
						     <li><a tabindex="-1" href="/2011/fr" class="external">2011</a></li>
						     <li><a tabindex="-1" href="/2010" class="external">2010</a></li>
						   </ul>
						 </li>
		                <li><a href="/2015/en" class="external">En</a> </li>
		              </ul>
		            </div>
		          </nav>
				  
		        </div>
		        <!-- end navbar --> 
		      </div>
		    </div>
		    <!-- end row --> 
		  </div>
		  <!-- end container --> 
		</header>
		<section id="intro">
		  <div class="container">
		    <div class="flexslider">
		      <ul class="slides">
		        <li> 
		          <!-- slide 1 -->
		          <div class="row jumbotron">
		            <div class="span12 text-center">
		              <h1>Soft-<font style="color:#009ad7;">Shake</font> 2015</h1>
		              <h3 class="info"><span class="days">22-23</span><span class="month"><b>Octobre</b></span><span class="year">2015</span><span class="location">- Genève</span></h3>
		              <a href="" data-toggle="modal" data-target="#modal-register" class="btn btn-large">C'est combien !</a>
				  	</div>
		            <!-- end span12 --> 
		          </div>
		          <!-- end row --> 
		        </li>
		        <!-- endslide 1 -->
		      </ul>
		    </div>
		    <!-- end flexslider --> 
		  </div>
  <!-- end container --> 
		</section>
		<!-- end intro section --> 
		<!-- Modal -->
		<div class="modal hide fade" id="modal-register">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h3>Achat de billets</h3>
		  </div>
		  <div class="modal-body">
		    <ul class="price-table">
  		      <li class="price-item clearfix item">
  		        <div class="price-header"> <span class="title">Best Friend</span> <span class="price">CHF 444.-</span> </div>
  		        <!-- end price-header -->
  		        <div class="price-content">
  		          <p>Pas seulement pour le cadeau, aussi pour soutenir Softshake.</p>
  		          <a href="https://sos15.eventbrite.fr" target="_blank"><input type="button"
  								class="btn" value="J’achète" />
  				  </a>
  		        </div>
  		        <!-- end price-content --> 
  		      </li>
		      <li class="price-item clearfix item">
		        <div class="price-header"> <span class="title">Early Adopters</span> <span class="price">CHF 100.-</span> </div>
		        <!-- end price-header -->
		        <div class="price-content">
		          <p>Seulement 5 billets, premier arrivé premier servi !</p>
		          <a href="https://sos15.eventbrite.fr" target="_blank"><input type="button"
								class="btn" value="J’achète" />
				  </a>
		        </div>
		        <!-- end price-content --> 
		      </li>
		      <!-- end price-item -->
		      <li class="price-item clearfix item">
		        <div class="price-header"> <span class="title">Early Birds</span> <span class="price">CHF 160.-</span> </div>
		        <!-- end price-header -->
		        <div class="price-content">
		          <p>Les "early birds" sont valable jusqu'au 13 septembre.</p>
		          <a href="https://sos15.eventbrite.fr" target="_blank"><input type="button"
								class="btn" value="J’achète" />
				  </a>
		        </div>
		        <!-- end price-content --> 
		      </li>
		      <li class="price-item clearfix item">
		        <div class="price-header"> <span class="title">Normal</span> <span class="price">CHF 200.-</span> </div>
		        <!-- end price-header -->
		        <div class="price-content">
		          <p>Ce prix est valable jusqu'au 5 octobre.</p>
		          <a href="https://sos15.eventbrite.fr" target="_blank"><input type="button"
								class="btn" value="J’achète" />
				  </a>
		        </div>
		        <!-- end price-content --> 
		      </li>
		      <li class="price-item clearfix item">
		        <div class="price-header"> <span class="title">Plein tarif</span> <span class="price">CHF 250.-</span> </div>
		        <!-- end price-header -->
		        <div class="price-content">
		          <p>Dès le 6 octobre, c'est plein tarif.</p>
		          <a href="https://sos15.eventbrite.fr" target="_blank"><input type="button"
								class="btn" value="J’achète" />
				  </a>
		        </div>
		        <!-- end price-content --> 
		      </li>
			  
		      <!-- end price-item -->
		    </ul>
		  </div>
		  <!-- end modal-body -->
		  <div class="modal-footer"> <a data-dismiss="modal" class="btn">Fermer</a> </div>
		</div>
        {{content}}
		<section id="contact" class="white">
		  <div class="container">
		    <div class="row">
		      <div class="span12">
		        <div class="module-header contact-header">
		          <h4>Contact</h4>
		        </div>
		      </div>
		      <!-- end span12 -->
		      <div class="span12 text-center">
		        <div class="subheader">
		          <h4>Information de Contact</h4>
		        </div>
		        <!-- --> 
		      </div>
		      <div class="span12 text-center">
		        <p>N'hésite à nous contacter pour toutes demandes.</p>
		      </div>

		      <div class="span12 text-center">
		        <p><i class="iconf-mail"></i> Email: <script type="text/javascript">eval(unescape("%6c%7a%79%6b%76%34%34%3d%5b%27%25%36%66%25%37%32%25%36%37%25%36%31%27%2c%5b%27%25%36%33%25%36%38%27%2c%27%25%37%33%25%36%66%25%36%36%25%37%34%25%32%64%25%37%33%25%36%38%25%36%31%25%36%62%25%36%35%27%5d%2e%72%65%76%65%72%73%65%28%29%2e%6a%6f%69%6e%28%27%2e%27%29%5d%2e%6a%6f%69%6e%28%27%40%27%29%3b%76%6e%6a%68%66%33%34%3d%75%6e%65%73%63%61%70%65%28%6c%7a%79%6b%76%34%34%29%3b%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%76%6e%6a%68%66%33%34%2e%6c%69%6e%6b%28%27%6d%61%69%27%2b%27%6c%74%6f%3a%27%2b%6c%7a%79%6b%76%34%34%29%29%3b"));</script> </p>
		      </div>
		      <div class="span12 text-center">
		        <div class="social"> <a href="https://www.facebook.com/SoftShakeEvent" target="_blank" title="Facebook" class="icon-wrap small facebook"> <i class="iconf-facebook"></i> </a> <a href="http://twitter.com/softshakeevent" target="_blank" title="Twitter" class="icon-wrap small twitter"> <i class="iconf-twitter"></i> </a><a href="https://www.flickr.com/photos/128287248@N07/sets/" target="_blank" title="Flickr" class="icon-wrap small flickr"> <i class="iconf-flickr"></i> </a> <a href="http://lanyrd.com/cfpfch" target="_blank" title="Lanyrd" class="icon-wrap small lanyrd"> <i class="iconf-lanyrd"></i> </a> <a href="#" target="_blank" title="Eventbrite" class="icon-wrap small eventbrite"> <i class="iconf-eventbrite"></i> </a> </div>
		      </div>
		    </div>
		    <!-- end row --> 
		  </div>
		  <!-- end container --> 
		</section>
		<!-- end contact -->
		
		<footer id="footer">
		  <div class="container">
		    <div class="row">
		      <div class="span12 text-center"> <img src="/templates/tf/images/logo-footer.png" alt="Soft-Shake">
		        <div class="copyright">Tous droits réservé. © Soft-Shake 2015<br /></div>
		      <!-- end span12 --> 
		    </div>
		    <!-- end row --> 
		  </div>
		  <!-- end container --> 
		</footer>