---
layout: 2014_default_en
---

<section class="row">
	<div class="col-sm-12">
		<h1>Program 2014</h1>
		<h3><a href="#day1">Day 1</a>, <a href="#day2">Day 2</a>, <a href="#unschedulled">Unschedulled</a></h3>
	</div>
</section>

<section class="row">
	<div class="col-sm-12">
		<h1><a name="day1">Day 1</a></h1>

		{% assign day1talks = site.data.2014.program | where: "scheduleDay", "1" | sort: "scheduleOrder" %}
		{% for talk in day1talks %}
			<h4>{{ talk.scheduleOrder }} - {{ talk.sessionTitle }} by {{ talk.speakerName }}</h4>
		{% endfor %}

	</div>
</section>

<section class="row">
	<div class="col-sm-12">
		<h1><a name="day2">Day 2</a></h1>
		{% assign day2talks = site.data.2014.program | where: "scheduleDay", "2" | sort: "scheduleOrder" %}
		{% for session in day2talks %}
			<h4>{{ session.scheduleOrder }} - {{ session.sessionTitle }} by {{ session.speakerName }}</h4>
		{% endfor %}
	</div>
</section>

<section class="row">
	<div class="col-sm-12">
		<h1><a name="unschedulled">Unschedulled</a></h1>
		{% assign unschedulled_talks = site.data.2014.program | where: "scheduleDay", "" %}
		{% for session in unschedulled_talks %}
			<h4>{{ session.scheduleOrder }} - {{ session.sessionTitle }} by {{ session.speakerName }}</h4>
		{% endfor %}
	</div>
</section>
