---
layout: 2014_default_en
---

<div class="row col-sm-12 text-center">
	<h1>Le programme 2014</h1>
	<h3>Ouverture des portes (8:30)</h3>
	<h3>Mot d'accueil (9:00 - 9:10)</h3>
</div>

{% assign unschedulledTalks = site.2014_program | where: "scheduleDay", "?" %}
{% if unschedulledTalks != empty %}
<section id="unschedulled" class="row">
	<div class="col-sm-12">
		<div class="section-header text-center"><h1>Unschedulled</h1></div>
		{% include 2014_day_talks.html day="?" %}
	</div>
</section>
{% endif %}

<section class="row">
	<div class="col-sm-12">
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li class="active"><a data-toggle="tab" href="#day1">23 Octobre</a></li>
			<li><a data-toggle="tab" href="#day2">24 Octobre</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="day1">
				<div class="list-group col-md-12 col-sm-12">
					<a href="/2014/keynotes/musee-bolo.html" class="list-group-item">
						<h2 class="list-group-item-heading">Keynote - Disparition programmée (9:10 - 9:40)</h2>
						<p class="list-group-item-text">Yves Bolognini, Musée Bolo</p>
					</a>
					<a href="/2014/keynotes/robots-and-emotions.html" class="list-group-item">
						<h2 class="list-group-item-heading">Keynote - Robots and Emotions (9:45 - 10:15)</h2>
						<p class="list-group-item-text">Angelica Lim, Aldebaran Robotics</p>
					</a>
				</div>

				{% include 2014_day_talks.html day="1" %}
			</div>
			<div class="tab-pane" id="day2">
				<div class="list-group col-md-12 col-sm-12">
					<a href="/2014/keynotes/bitcoin.html" class="list-group-item">
						<h2 class="list-group-item-heading">Keynote - Bitcoin: It works! (9:10 - 9:40)</h2>
						<p class="list-group-item-text">Mathieu Buffenoir, SBEX</p>
					</a>
					<a href="/2014/keynotes/idquantique.html" class="list-group-item">
						<h2 class="list-group-item-heading">Keynote - La Cryptographie Post-Quantum (9:45 - 10:15)</h2>
						<p class="list-group-item-text">Gilles Gravier, ID Quantique</p>
					</a>
				</div>
				{% include 2014_day_talks.html day="2" %}

				<div>
					<h2>Mot de la fin &amp; tombola!</h2>
					<p>C'est la fin, venez faire le point avec nous. Aussi, quelques beaux cadeaux à gagner pour ce qui ont apprécié la conférence et ont resté jusqu'à la fin - des belles surprises, toutes dans l'esprit de la conférence!</p>
				</div>
			</div>
		</div>
	</div>
</section>
