---
layout: 2014_default_en
---

<div class="row">
	<h1>Program 2014</h1>
	<h3><a href="#day1">Day 1</a>, <a href="#day2">Day 2</a>, <a href="#unschedulled">Unschedulled</a></h3>
</div>

<section id="day1" class="row">
	<div class="col-sm-12">
		<div class="section-header"><h2>Day 1</h2></div>
		{% include 2014_day_talks.html day="1" %}
	</div>
</section>

<section id="day2" class="row">
	<div class="col-sm-12">
		<div class="section-header"><h2>Day 2</h2></div>
		{% include 2014_day_talks.html day="2" %}
	</div>
</section>

<section id="unschedulled" class="row">
	<div class="col-sm-12">
		<div class="section-header"><h2>Unschedulled</h2></div>
		{% include 2014_day_talks.html day="?" %}
	</div>
</section>
